body{
  background-color: black;
  margin-top: 350px;
  font-family: Truculenta;
}

.header {
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.text{
 color: white;
 text-align: center;
  font-size: 54px;
  padding: 10px;
  font-weight: 900;
}

#counter{
  background:black;
  color: white;
  text-align: center;
  font-size: 54px;
  padding: 10px;
  font-weight: 900;
}
.digit, .icon{
  display: inline-table;
  background: black;
  padding: 15px;
  border-radius: 10px;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

img {
  max-width: 78px;
  padding-top: 5%;
}

.footer {
  color: white;
  top: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding-bottom: 5%;
}

.link {
  color: white;
} /* link color (white) */

.link:hover {
  color: #00ff00;
} /* link hover (green) */


.truculenta-Xafiq {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}